
/* SIDEBAR BODY - COLLAPSED */
.icon-bar {
    -fx-background-color: #1e1f22;
    -fx-alignment: TOP_CENTER;
}

/* SIDEBAR BODY - EXPANDED (WIDTH HANDLED IN CONTROLLER)*/
.icon-bar.expanded {
}

/* SIDEBAR MENU BUTTON */
.icon-bar-button {
    -fx-pref-height: 45;
    -fx-background-radius: 8;
    -fx-background-color: transparent;
    -fx-alignment: CENTER_LEFT;
    -fx-spacing: 10;
    -fx-cursor: hand;
    -fx-padding: 0 10 0 10;
    -fx-content-display: left;
}

.icon-bar-icon {
    -fx-fill: transparent;
    -fx-stroke: white;
    -fx-stroke-width: 0.5;
}

.icon-bar-button:hover {
    -fx-background-color: #2b2d31;
}

/* SVG STYLING */
.icon-bar-button SVGPath{
    -fx-stroke: white;
    -fx-stroke-width: 2;
    -fx-fill: transparent;
}

/* BUTTON TEXT LABEL (SIDEBAR COLLAPSED) */
.icon-bar-item-label {
    -fx-opacity: 0;
    -fx-managed: false;
}